{% extends "__layout__.html" %}
{% block content %}

<div class="textcenterwide sp spb-half ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>What you can Expect ?</h1>
                
                    <p>
                        You can expect us to start at the beginning. We want to know when and where
                        your stresses and anxieties began, we want to understand you to your very roots!
                        Paying attention to each and every part of you and your thinking, your physical
                        body, your feelings and your expression, we will explore together how you can find
                        within yourself, confidence, harmony and peace. We will ask you to kindly share
                        your thoughts and respectfully share your feelings in order that we can establish a
                        deep understanding of your wonderful self and therefore find the road to positive
                        change. You can expect your journey to be endlessly exciting, beautifully emotional
                        and fabulously freeing. We will ensure that you travel safely and with sound
                        navigation.
                        To support you on your journey, you can relax into the gentle hospitality of Morocco
                        and enjoy its scenic riches as you watch the sun rise and then set within this
                        beautiful landscape. You can take pleasure from our comforting and flavoursome
                        food - served to you in the perfect reflective space. We will offer yoga practices and
                        massage to enhance your experience and give you the perfect opportunity for
                        relaxation and rejuvenation.
                    </p>

                           

            </div>
        </div>
    </div>
</div>

{% endblock content %}