{% extends "__layout__.html" %}
{% block content %}

<div class="textcenterwide sp spb-half ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>The Invitation</h1>
                
                    <p>
                        Our Invitation to you…
						You are cordially invited to join us. We invite you to relax, explore and enhance
						your thinking.
						To help you with your voyage, we will take care of you. We will welcome you to our
						tranquil location and feed you wonderful Moroccan food, sourced locally and
						prepared for you with love and kindness.
						We will bear both your wellbeing and your soul in mind.
						We will be together in this beautiful country, surrounded by colour, culture and
						everything we need to focus inward.
						And we will guide you through our unique programme which will enable your
						transformation.Together we can change your life…<a class="primary_btn" href="#"> | Contact Us |</a>
                    </p>

                           

            </div>
        </div>
    </div>
</div>

{% endblock content %}