{% extends "__layout__.html" %}
{% block content %}

<div class="textcenterwide sp spb-half ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>The Location</h1>
                
                    <p>
                        We believe that Morocco is the perfect country for our retreat. It offers a different
                        landscape, an invitation to pause and the most wonderful cultural experience. We
                        scoured the country to find the perfect location for you. We wanted to be close to
                        the ocean to enable us to see a different horizon, we wanted to be near the sand to
                        enable us to feel a different terrain underfoot and we wanted to offer you a simple
                        yet rich backdrop to your journey alongside us. We intended to find a location
                        suitable for exploration, with the right qualities for reflection. We welcome you to
                        our Psychotherapy Retreat in Morocco. We know you will enjoy the colour, flavour
                        and essence of this magical part of Africa.</a>
                    </p>

                           

            </div>
        </div>
    </div>
</div>

{% endblock content %}