{% extends "__layout__.html" %}
{% block content %}

<div class="textcenterwide sp spb-half ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Yoga</h1>
                
                    <p>
                        Yoga’s ancient philosophies and benefits have been tried and tested over hundreds
						of years. We are delighted to be able to offer a daily yoga practice to support your
						retreat with us. We work with experienced and enlightened teachers and our focus
						here is on relaxation, the importance of the breath and the opportunity that yoga
						offers us to look inward. We feel that it is the perfect accompaniment to our
						programme. It is optional and certainly we have no expectation of ability. But we
						warmly invite you to join us!.<a class="primary_btn" href="#"> | Contact Us |</a>
                    </p>

                           

            </div>
        </div>
    </div>
</div>

{% endblock content %}